@font-face {
    font-family: reg;
    src: url(../../assets/fonts/Jura-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: reg_b;
    src: url(../../assets/fonts/Jura-Bold.ttf);
    font-weight: 700;
}
