@font-face {
    font-family: "Roboto ";
    src: url("../assets/fonts/Roboto-Regular.eot");
    src: url("../assets/fonts/?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Roboto-Regular.woff") format("woff"),
        url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.eot");
    src: url("../assets/fonts/?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Roboto-Bold.woff") format("woff"),
        url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.eot");
    src: url("../assets/fonts/Roboto-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../assets/fonts/Roboto-Medium.eotRoboto-Medium.woff")
            format("woff"),
        url("../assets/fonts/Roboto-Medium.eotRoboto-Medium.ttf")
            format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Kayak Sans";
    src: url("../assets/fonts/Kayak/Sans/Bold.otf");
    font-weight: 600;
    font-style: normal;
}
