* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-family: "Kayak Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.container__1440 {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
body {
    min-height: 100vh;
}
ul {
    margin: 0 0;
}

@import "base/variables";
@import "base/fonts";
@import "base/mixins";
@import "blocks/btn";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/popular";
@import "blocks/about";
@import "blocks/discont";
@import "blocks/review";
@import "blocks/footer";

@import "blocks/media";
