* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-family: "Kayak Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
body {
    min-height: 100vh;
}
ul {
    margin: 0 0;
}
@import "base/variables";
@import "base/fonts";
@import "base/mixins";

@import "blocks/promo.scss";
@import "blocks/btn";
@import "blocks/popular";
@import "blocks/media";
@import "blocks/review";
