* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}
.container__1440 {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fafafa;
    // font-family: rel_e;
}
body {
    min-height: 100vh;
    // background-color: rgb(235, 235, 235);
    // color: rgb(255, 255, 255);
    font-family: reg;
    background: linear-gradient(90deg, #ffe0ca9e, #fdd2e5);
}
ul {
    margin: 0 0;
}

@import "base/variables";
@import "base/fonts";
@import "blocks/btn";
@import "base/mixins";
@import "blocks/animated";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/popular";
@import "blocks/about";
@import "blocks/discont";
@import "blocks/review";
@import "blocks/footer";

@import "blocks/media";
