.btn {
    width: 150px;
    height: 60px;
    background: #da5d1a;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%) //     &__header {
        //     }
        &__promo {
        width: 150px;
        height: 60px;
        background: #da5d1a;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    }
}
