.btn {
    display: flex;
    color: #fafafa;
    font-size: 14px;
    // font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ad557d;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
}
.btn:hover {
    background-color: #b3306d;
    transition: all 0.3;
}
