@media (max-width: 1440px) {
    .discont,
    .popular,
    .review {
        &__inner,
        &__inner-second {
            .slick {
                &-list {
                    margin: 0 auto;
                    max-width: 700px;
                }
            }
            .slick-prev,
            .slick-next {
                right: 100px;
            }
            .slick-next {
                left: 100px;
                right: auto;
            }
        }
    }

    .promo {
        min-height: 1040px;
    }
}

@media (max-width: 1024px) {
    .promo {
        min-height: 780px;
    }
    .discont,
    .popular,
    .review {
        &__inner,
        &__inner-second {
            .slick {
                &-list {
                    // margin: 0 auto;
                    max-width: 500px;
                }
            }
            .slick-prev,
            .slick-next {
                right: 90px;
            }
            .slick-next {
                left: 90px;
                right: auto;
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        .container {
            padding: 10px 20px;
        }
        &__logo {
            min-width: 100px;
            font-size: 18px;
        }
        &__nav {
            min-width: 400px;
            margin-left: 30px;
            // margin-left: 0;
            .menu {
                min-width: 300px;
                margin-left: 0;
                &__item {
                    a {
                        font-size: 11px;
                        row-gap: 15px;
                    }
                }
                .btn {
                    font-size: 12px;
                }
            }
        }
    }
    .promo {
        min-height: 620px;
    }
    .discont,
    .popular,
    .review {
        &__inner,
        &__inner-second {
            .slick {
                &-list {
                    margin: 0 auto;
                    max-width: 400px;
                }
            }
            .slick-prev,
            .slick-next {
                right: 37px;
            }
            .slick-next {
                left: 37px;
                right: auto;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);

            column-gap: 2em;
            align-items: auto;

            &-social {
                display: grid;
                align-items: center;
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }

    .title_h2 {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    // .popular__inner,
    // .review__inner,
    // .review__inner-second {
    //     width: 200px;
    //     z-index: -1;
    // }
    .promo {
        // min-height: 590px;
        min-height: 100vh;
    }
    .header {
        .container {
            padding-top: 20px;
        }
        &__logo {
            min-width: 175px;
            font-size: 17px;
            margin-left: 20px;
            letter-spacing: 1px;
        }
        &__nav {
            .menu {
                display: inline-block;
                position: fixed;
                top: 0;
                left: -100%;
                min-width: 150px;
                height: 100vh;
                opacity: 0;
                visibility: hidden;
                transition: all 0.6s;
                background-color: $back-color;
                padding-top: 140px;
                padding-left: 30px;
                height: 100%;
                a {
                    color: $white-color;
                    letter-spacing: 1px;
                }
                &__item {
                    position: relative;
                    font-weight: 700;
                    font-size: 22px;
                    margin-bottom: 15px;
                }

                &__overlay.hidden {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.25;
                    transition: all 0.6s;
                }
                &__close {
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    visibility: visible;
                }
            }
            .menu.active {
                left: 0;
                visibility: visible;
                opacity: 1;
                z-index: 10;
                transition: all 0.6s;
            }
        }
    }
    .discont,
    .popular,
    .review {
        &__inner,
        &__inner-second {
            .slick {
                &-list {
                    max-width: 200px;
                    div {
                        // min-height: 250px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .slick-prev,
            .slick-next {
                right: 22px;
                z-index: 10;
            }
            .slick-next {
                left: 22px;
                right: auto;
            }
        }
    }
    .review {
        &__inner {
            .slick {
                &-list {
                    // max-height: 400px;
                    div {
                        min-height: 250px;
                        img {
                        }
                    }
                }
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
            &-special {
                text-align: center;
                p {
                    margin: 0 auto;
                }
            }
            &-time {
                text-align: center;
                div {
                    display: flex;
                }
            }
            &-social {
                text-align: center;
                .link {
                    justify-content: center;
                }
            }
        }
    }
    .humburger {
        visibility: visible;
        left: 5px;
        width: 30px;
        z-index: 200;
        span {
            width: 20px;
        }
        span.long {
            width: 25px;
        }
        svg {
            position: absolute;
            z-index: 10;
        }
    }
    .hidd {
        visibility: hidden;
    }

    .btn {
        visibility: visible;
        justify-content: start;
        position: fixed;
        right: 15px;
        top: 10px;
    }
    .long {
        width: 30px;
    }
    .divider {
        z-index: 1;
    }

    .review {
        .title_h2 {
            font-size: 35px;
        }
    }
}
