.promo {
    &__inner {
        min-height: 100vh;
        position: relative;
        padding-top: 250px;
        padding-bottom: 250px;
        background: url("../../assets/img/logo.PNG") no-repeat 10% / cover;
    }
}
